<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoranKu</title>
    <!-- <script src="https://kit.fontawesome.com/e32a180089.js" crossorigin="anonymous" aria-hidden="true"></script> -->
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/apple-icon.png">
    <meta name="theme-color" content="#e07400ef"/>
</head>

<body>
    <div id="preloader"></div>
    <a href="#content" class="skip-link">Skip to Content</a>
    <Header class="app-bar">
        <img tabindex="0" class="logo lazyload" data-src="/logo/logo.webp" alt="logo RestoranKu" >
        <!--Button Hamburger-->
        <button id="hamburgerButton" class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </button>
        <nav id="navigationDrawer">
            <ul class="nav-menu">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Fovourite</a></li>
                <li><a href="https://web.facebook.com/onaldlumowa.11/?_rdc=1&_rdr" target="_blank">About</a></li>
            </ul>
        </nav>
    </Header>
    <section class="hero">
        <picture>
            <source media="(max-width: 1300px)" srcset="./images/hero-image_2-xl.jpg">
            <source media="(max-width: 800px)" srcset="./images/hero-image_2-l.jpg">
            <source media="(max-width: 600px)" srcset="./images/hero-image_2-s.jpg">
            <source type="image/webp" srcset="./images/hero-image_2.webp">
            <img class="lazyload" data-src="/images/hero-image_2-xl.jpg" alt="hero-image_2"></img>
        </picture>
        <div class="hero-head">
            <h1 tabindex="0" class="hero-title">Web RestoranKu</h1>
            <p tabindex="0" class="hero-tag">Temukan Restoran Favorit Anda Sekarang</p>
        </div>
    </section>
    <section>
        <div class="label">
            <div class="latest">
                <h2 tabindex="0" class="latest-label">EXPLORE RESTAURANT</h2>
            </div>
    </section>
    <main id="mainContent"></main>
    <footer>
        <p tabindex="0">Copyright © 2021 Restoranku</p>
        <p>All data obtained from <a href="https://dicoding.com" target="_blank" rel="noreferrer">Dicoding</a></p>
    </footer>
</body>
</html>